<<<<<<< HEAD
<h1>Editing <%= @chemical.name %></h1>
=======
<h1>Editing chemical</h1>
>>>>>>> ae5fc6decae3133bd2fa08199d578a63386058a6

<%= render 'form' %>

<%= link_to 'Show', @chemical %> |
<%= link_to 'Back', chemicals_path %>
